---
import { format } from 'date-fns';

import Header from '~/components/header.astro';
import { useI18n } from '~/i18n/utils';
import Main from '~/layouts/main.astro';
import { getPostInfoList, type PostInfo } from '~/libs/mdx';

const { url } = Astro;
const { p, t } = useI18n(url);

const allNotes = await getPostInfoList();

const yearList = Object.entries(
  allNotes
    .reduce<{ [year: string]: PostInfo[] }>((ac, v) => {
      const year = new Date(v.date).getFullYear();
      if (!ac[year]) ac[year] = [];
      ac[year].push(v);
      return ac;
    }, {}),
).sort(([yearA], [yearB]) => +yearB - +yearA);
---

<Main>
  <Header title={t('index.name')} />
  <div data-animate data-animate-speed="slow">
    <div class="my-7" set:html={t('index.desc')} />
    <div class="my-7">
      <p set:html={t('index.currentWork')} />
    </div>
  </div>
  {
    yearList.map(([year, postList], index) => {
      return (
        <div class="relative">
          <ul data-animate data-animate-speed="fast" class="space-y-2">
            <h3 class="pt-5">{year}</h3>
            {postList.map((post) => {
              return (
                <li style={`--start: ${index * 75}ms;`}>
                  <a
                    href={post.href}
                    class="items-center transition-opacity duration-300 hover:!opacity-100 group-hover:opacity-60"
                  >
                    <span class="text-heading">{post.title}</span>
                    <span class="px-2 text-sm text-second">
                      {format(new Date(post.date), 'MM. dd.')}
                    </span>
                    <div class="text-sm">{post.description}</div>
                  </a>
                </li>
              );
            })}
          </ul>
        </div>
      );
    })
  }
</Main>
