---
import { fetchPost } from "src/lib/supabase";
import { differenceInDays, parseISO } from 'date-fns';

const posts = await fetchPost() ?? [];

const today = new Date();
const endDate = parseISO('2023-10-27');
const diffInDays = differenceInDays(today, endDate);
---

<section class="mb-8">
  <div class="mb-4">
    <div class="font-bold flex gap-x-4">
      <div>
        <p class="inline text-2xl">{diffInDays}</p>
        <p class="inline">days</p>
      </div>
      <div>
        <p class="inline text-2xl">{posts.length}</p>
        <p class="inline">Posts</p>
      </div>
    </div>
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#66f278] via-[#66f278] to-[#66f2b1] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Donghak Kim
      </span>
    </h1>
    <p class="text-2xl pb-4">Full-stack Developer</p>
    <img src="https://skillicons.dev/icons?i=java,kotlin,spring,postgres,redis,nestjs,godot,docker,net,prisma,nginx,supabase,typescript,aws,go,react,cpp,gitlab,cloudflare,bots,discordjs,fastapi,nextjs,planetscale,tailwind,ubuntu,vite,arduino,astro,html,js,css,latex&theme=dark" alt="Skill Icons">
    <div>
      <div class="pt-3">
        <h1 class="text-xl font-bold text-zinc-200">SMS</h1>
        <p>해당 프로젝트의 백엔드는 클린 아키텍쳐로 구성되었으며 기능 구현에 기여하였습니다.</p>
      </div>
      <div class="pt-3">
        <h1 class="text-xl font-bold text-zinc-200">XOLVING</h1>
        <p>개발자 커뮤니티에서 활동하며 Nest.js, React, Next.js 등의 프레임워크를 사용했습니다.</p>
      </div>
      <div class="pt-3">
        <h1 class="text-xl font-bold text-zinc-200">GSM</h1>
        <p>광주소프트웨어마이스터고등학교의 디스코드 서버에서 새 학기마다 바뀌는 학년 역할의 지급을 자동화하고 있습니다.</p>
      </div>
    </div>
  </div>
</section>
