---
import { fetchPost } from "src/lib/supabase";
import { differenceInDays, parseISO } from 'date-fns';

const posts = await fetchPost() ?? [];

const today = new Date();
const endDate = parseISO('2023-10-27');
const diffInDays = differenceInDays(today, endDate);
---

<section class="mb-8">
  <div class="mb-4">
    <div class="font-bold flex gap-x-4">
      <div>
        <p class="inline text-2xl">{diffInDays}</p>
        <p class="inline">days</p>
      </div>
      <div>
        <p class="inline text-2xl">{posts.length}</p>
        <p class="inline">Posts</p>
      </div>
    </div>
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#66f278] via-[#66f278] to-[#66f2b1] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Donghak Kim
      </span>
    </h1>
    <p class="text-2xl pb-4">Full-stack Developer</p>
  </div>
  <div>
    <img src="https://skillicons.dev/icons?i=java,kotlin,spring,postgres,redis,nestjs,godot,docker,net,prisma,nginx,supabase,typescript,aws,go,react,cpp,gitlab,cloudflare,bots,discordjs,fastapi,nextjs,planetscale,tailwind,ubuntu,vite,arduino,astro,html,js,css,latex&theme=dark" alt="Skill Icons">
  </div>
</section>
